* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 200%;
  scroll-behavior: smooth;
}

 body {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    background-image: url('output-onlinepngtools.png');
    background-repeat:repeat-y ;
    background-position: center;
    background-size: cover;
  }

.content{
  flex: 1;
}
.bounce {
  width: 90px;
  height: 90px;
  background-color: #df537163;
  border-radius: 50%;
  animation: bounce 2s infinite;
  position: absolute;
  top: 76%;
  left: 1%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
}
.bounce2 {
  width: 55px;
  height: 50px;
  background-color: #c53454;
  
  border-radius: 50%;
  animation: bounce 3s infinite;
  position: absolute;
  top: 88%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
}
.bounce3 {
  width: 25px;
  height: 30px;
  background-color: #6016c0;
  border-radius: 50%;
  animation: bounce 5s infinite;
  position: absolute;
  top: 95%;
  left: 8%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  } 
  
  20%, 50%, 80% {
    transform: translateY(0);
    box-shadow: none; 
  }
  40% {
    transform: translateY(-150px);
    box-shadow: none; 
  }
  60% {
    transform: translateY(-75px);
    box-shadow: 0px 20px 30px rgba(5, 0, 0, 0.8);
  }
}

.rot {
  position: absolute;
  top: 360%;
  left: 80%;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  background-color: #655ec2;
  transform: translate(-50%, -50%);
  animation: expand 4s infinite;
  z-index: 9999;  
  box-shadow: 0px -20px 10px rgba(5, 0, 0, 0.5);
}
.rot2 {
  position: absolute;
  top: 340%;
  left: 90%;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #53acdf;
  transform: translate(-50%, -50%);
  animation: expand 5s infinite;
  z-index: 9999; 
  box-shadow: 0px -20px 10px rgba(5, 0, 0, 0.5);
}
.rot3 {
  position: absolute;
  top: 310%;
  left: 86%;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #2e5064;
  transform: translate(-50%, -50%);
  animation: expand 2s infinite;
  z-index: 9999; 
  box-shadow: 0px -20px 10px rgba(5, 0, 0, 0.5);
}

@keyframes expand {
  0%, 20%, 50%, 80%, 100% {
    transform: rotate(0deg);
}
40% {
    transform: rotate(45deg);
    
}
60% {
    transform: rotate(-45deg);
}
}

/* navbar */

.desk{
  background-color: #ffffffbe;
  margin-top: 120px;
  margin-bottom: 60px;
}
.h1newarival strong {
  font-size: 35px;
  margin-top: 100px;
  margin-left: 40px;
  color: #a0a0a0;
}

.pteks {
  font-size: 20px;
  margin-bottom: 50px;
  margin-left: 55px;
  padding-bottom: 40px;
  color: #a1a1a1;
}

.font_h1 {
  font-family: 'Caveat', cursive;
}

.box_navbar {
  z-index: 9999;
  overflow: visible;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0;
  height: min-content;
  width: 100;
}

.navbar {
  background-image: url(bg-men.png);
  background-size: cover;
  background-position:10% ;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 40px;
  color: #fff;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0;
}

.logo-img {
  cursor: pointer;
  transition: transform 200ms;
}

.logo-img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.logo-img img {
  margin-left: 10px;
  width: 55px;
}
.logo-active{
  width: 200px;
  height: 200px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: auto;
}

.foot-links {
  margin-top: 30px;
  margin-left: 15px;
  width: 10px;
  max-width: 20px;
  display: flex;
  gap: 20px;
}

.foot-links a:hover {
  transform: scale(1.1);
}

.nav-links li {
  margin-right: 60px;
  margin-left: 100px;
}

.nav-links li a {
  text-decoration: none;
  font-family: "Caveat", cursive;
  font-style: italic;
  color: rgba(138, 13, 94, 0.68);
  transition: color 0.3s ease;
  font-size: 30px;
  font-optical-sizing: auto;
  font-weight: 700;
}

.nav-links li a:hover {
  color: #534646;
}

li a.active {
  text-decoration: underline;
  color: #192081;
}

.nav-right {
  display: flex;
  align-items: center;
}

/* body */
.body {
  font-family: 'Caveat', cursive;
}

.banner_section {
  width: 100%;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.slide-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('img_Novelbright.jpg');
}

.carousel-inner {
  width: 100%;
  position: relative;
}

.carousel-item {
  width: 100%;
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-sm-2,
.col-sm-5 {
  flex: 1;
  padding: 0;
}

.padding_0 {
  padding: 0;
}

.mens_taital {
  font-size: 18px;
  color: #333;
  margin-top: 0;
}

.page_no {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 0;
}

.mens_taital_2 {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.banner_taital {
  text-align: center;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.banner_text {
  font-size: 84px;
  color: #df5371;
  text-shadow: 8px 8px 8px rgba(180, 180, 180, 0.5);
  margin-top: 0;
  margin-bottom: 10px;
  animation: floatAnimation 2s ease-in-out infinite;
}

.mens_text {
  font-size: 24px;
  color: #8b8a8a;
  margin-top: 0;
  margin-bottom: 7px;
  transition: transform 200ms;
  transition-duration: 2s;
}

.mens_text:hover {
  color: #363636;
  transform: scale(1.1);
}

.lorem_text {
  border-radius: 7px;
  background-color: #fffeb491;
  margin-right: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #797979;
  margin-top: 5px;
  margin-bottom: 20px;
}

.fade_out {
  position: relative;
}

.fade_out::before {
  border-radius: 10px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(253, 252, 208, 0) 0%, rgba(253, 252, 208, 0.384) 0%, rgba(253, 252, 208, 0.719) 50%, rgb(253, 252, 208) 100%);
  pointer-events: none;
}

.buy_bt,
.more_bt {
  font-family: 'Caveat', cursive;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #666769;
  color: #fff;
  border: none;
  border-radius: 4px 4px 15px 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: transform 250ms;
}

.buy_bt:hover,
.more_bt:hover {
  transform: scale(1.1);
  background-color: #551d3e;
}

.shoes_img {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 260px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  outline: 2px solid transparent;
  animation: floatAnimation 6s forwards infinite;
}

.shoes_img img {
  padding: auto;
  width: 500px;
  border: #ccc;
  border-radius: 5%;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.shoes_img:hover {
  transform: scale(1.1);
}

.container_newarival {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff9f9;
}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card-image {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s ease;
}

.card-image:hover img {
  transform: scale(1.1);
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  text-align: left;
}

.card-content .text {
  margin-bottom: 20px;
}

.card-content .text p {
  margin: 0;
  line-height: 1.5;
  font-size: 20px;
}

.card-content .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-content .cta a {
  display: block;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.cta-button {
  font-family: 'Caveat', cursive;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #df5371;
  color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.cta-button:hover {
  background-color: rgb(45, 56, 158);
}

.see-more-button {
  background-color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  color: #3644c4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 80px;
  margin-right: 350px;
}

.see-more-button:hover {
  color: rgb(8, 33, 102);
}

.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  margin-top: 10px;
}

.card-content .prices p {
  margin: 0;
  font-size: 20px;
}

.card-content .prices span {
  font-size: 16px;
  color: #192081;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content:center ;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.pinn {
  width: 100px;
  height: 100px;
  background-color: #140339;
  border-radius: 50%;
  animation: pin 2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
}
.product-card {
  display:list-item ;
  list-style: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  justify-content: center;
  border: #140339;
  align-items: center;
  transition: transform 250ms;
  
}
.seemore-circ{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  opacity: 0;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #2e2e2e33;
  position:absolute ;
  transition: width 0.3s ease, height 0.3s ease;
}

.product-card:hover{
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
  background-color: #fcdaca;
  transform: scale(1.1);
  cursor: pointer;
}

.product-card:hover .seemore-circ{
  
  top: 39%;
  left: 38%;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes pin {
  form, to{

  }
  
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card img:hover {
  transform: none;
}

.product-card h3 {
  margin: 0;
  margin-bottom: 5px;
}

.product-card p {
  margin: 0;
  color: #888;
  margin-bottom: 10px;
}

.product-card .price {
  color: #474747;
  font-size: 11pt;
  font-weight: bold;
  margin: 0;
}

.product-card .discount {
  background-color: rgb(228, 50, 50);
  color: #fff;
  font-style: oblique;
  font-size: 14pt;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
}

/* footer */
.box_fot {
  z-index: 9000;
  overflow:visible;
  margin: 0;
  padding: 0;
  box-sizing:content-box;
  position:sticky;
  padding: 0;
  height: min-content;
  width: 100%;
}
.footer {
  display: contents;
  position: relative;
  display: flex;
  background-color: rgb(225, 255, 255, 0.75) 5%;
  padding: 10px;
  text-align: center;
  margin: 0;
  border-top-right-radius: 80px;
  box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25);
}

.footer_container p {
  display: flex;
  justify-content: space-between;
  background-color: #f00;
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.footer-madeby {
  color: #6b6b6b;
  font-size: 14px;
  padding-right: 8px;
  position:sticky;
  bottom: 20px;
  right: 20px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  height: 1px;
  animation: typing 5s steps(20) infinite, blink-caret 0.5s infinite;
}

@keyframes typing {
  from, to {
    width: 0;
  }
  to {
    width: 17%;
  }
}

@keyframes blink-caret {
  from, to {
    margin-top: 20px;
    margin-left: 900px;
    margin-right: 40px;
    height: 40px;
    border-color: transparent;
  }
  50% {
    margin-top: 20px;
    margin-left: 900px;
    margin-right: 40px;
    height: 40px;
    border-color: rgba(0, 0, 0, 0.575);
  }
}

.footer-container {
  font-family: 'Caveat', cursive;
  display:flex ;
  margin: 0;
}

.footer_container p {
  text-align: left;
  font-size: 20px;
}

.footer .container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction:row ;
    align-items:flex-end;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  .nav-links li {
    margin: 2px 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .logo-img img {
    width: 45px;
  }

  .banner_text {
    font-size: 30px;
  }

  .bounce {
    width: 50px;
    height: 50px;
  }

  .bounce2 {
    width: 35px;
    height: 35px;
  }

  .bounce3 {
    width: 20px;
    height: 20px;
  }

  .rot {
    width: 50px;
    height: 50px;
  }

  .rot2, .rot3 {
    width: 35px;
    height: 35px;
  }

  .banner_section {
    padding: 0 10px;
  }
  .shoes_img img {
  padding: auto;
  width: 500px;
  border: #ccc;
  border-radius: 5%;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .shoes_img {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .nav-links {
    flex-direction: column;
    gap: 0;
  }
  .shoes_img img {
  padding: auto;
  width: 500px;
  border: #ccc;
  border-radius: 5%;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .shoes_img {
    width: 50%;
  }

  .nav-links li {
    margin: 0px 0;
  }

  .nav-links li a {
    font-size: 24px;
  }

  .banner_text {
    font-size: 36px;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(125deg, #b1e0ff 0%, #f09393 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(125deg, #f09393 0%, #b1e0ff 100%);
  border-radius: 10px;
}
